ProofOfSpace
RunTests
HellmanAttacks
*.dSYM
**/*.o
**/*.dat
**/*.dat.tmp
.vscode
.venv/
**/__pycache__
src/python/.aes*
src/python/.rendered*
src/python/*.so
**/*.DS_Store
*.so
*.cmake
CmakeCache.txt
CMakeFiles
Makefile
**/*.rendered.*.cpp
**/*.cppimporthash
build/*.so
build/ProofOfSpace
build/RunTests
build/CMake*
build/cmake*
build/*.a
build/_deps/*build
.pytest_cache
**/*.egg-info
.mypy_cache
*.whl
venv
